/* Fonts */
.merriweather-<uniquifier> {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* styles.css */
.title-slide {
  text-align: center;
}

#title-slide .title {
  font-size: 2em;
  /* Adjust this value as needed */
  /* You can also add other styles here, like color or font-family */
}

.title-slide .logos {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.title-slide .logos img {
  margin: 20px;
  width: 100px;
  /* Adjust as needed */
  height: auto;
}

.reveal .slide-background-content {
  background-color: white;
}

.quarto-title-author-name {
  margin-top: 2rem;
  font-style: italic;
}

/* Reduce default body text size to 80% */
.reveal p,
.reveal li {
  font-size: 80% !important;
}


.reveal .slide-footer {
  text-align: center !important;
  font-size: 120% !important;
}

.reveal .slides section[class*="with-"]::after {
  content: "";
  background-size: autp 60px;
  background-repeat: no-repeat;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 150;
  height: 60px;
}

/* Map specific classes to images */
.reveal .slides section.with-dmp_icon::after {
  background-image: url("img/DMP_icon.png");
}

.reveal .slides section.with-collection_icon::after {
  background-image: url("img/collection_icon.png");
}

.reveal .slides section.with-archive_icon::after {
  background-image: url("img/archiving_icon.png");
}